.signUp {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20%;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signUp h1{
  text-align: center;
}

.signUp Button {
  width: 100%;
}
