body {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818 ;
  color: rgb(255, 255, 255)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
